@import url("reset.css");
@font-face {
  font-family: 'Oxygen Mono';
  src: local('Oxygen Mono'), url('oxygen-mono-regular.woff'), url('oxygen-mono-regular.ttf');
}
* { margin: 0px; padding: 0px; font-family: "Oxygen Mono"; }
html, body { 
    position: relative;
    width: 100vw;
    height: 100vh;
    background: rgb(67, 117, 146) radial-gradient(circle closest-side, rgb(67, 117, 146) 20%, rgb(18, 72, 103) 90%);
    font-size: 14pt;
}

h1, h2 { font-weight: 600;  }
h1 { font-size: 2rem; }
h2 { font-size: 1.8rem; }

b { font-weight: 600; }

button, input[type=submit] {
    margin: 0.1rem 0.3rem;
    background: #eff0f1;
    border: 1px solid rgb(239, 240, 241);
    border-radius: 0.1rem;
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
}
button:hover, input[type=submit]:hover {
    background: #beced7;
}
button:active, input[type=submit]:active {
    background: linear-gradient( 45deg, #93cee9, #79c2e4 );
}

.centering {
    display: flex;
    align-items: center;
    justify-content: center;
}

screen {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    /* Initially we don't want any height, and we want the contents to be hidden */
    max-height: 0;
    overflow: hidden;
    /* Set our transitions up. */
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
}
screen.active {
    max-height: 100%;
}
.wood_box {
    margin: 10vw;
    border: 0.3rem solid rgba(0,0,0, 0.7);
    border-radius: 0.6rem;
    background: rgba(255,255,255, 0.7);
    max-width: 900px;
    padding: 1rem;
}

.wood_box div {
    transition: all 0.8s linear;
    display: block;
    opacity: 1;
}
.wood_box div.hidden {
    display: none;
    opacity: 0;
}

#player_setups {
    /*display: flex;
    flex-wrap: wrap;*/
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-rows: 100px 100px;*/
    margin: 1rem 0;
}
#player_setups > div {
    /*flex-grow: 1;*/
    text-align: center;
}
#player_setups button {
    margin: 0.2rem 0.3rem;
    background: rgba(200, 200, 200, 0.3);
    border: 2px solid #fff;
    border-radius: 0.3rem;
    padding: 0.3rem;
    font-size: 1rem;
}
#player_setups button:hover {
    background: rgba(255, 255, 255, 0.8);
}
#player_setups button.active {
    background: rgba(255, 255, 255, 1.0);
}
#player_setups button:active {
    background: rgba(255, 255, 255, 0.9);
}

#multiplayer_config {
    display: flex; flex-direction: column;
}
#multiplayer_status {
    display: flex; flex-direction: row;
    border-bottom: 1px solid rgba(0,0,0, 0.5);
}
#multiplayer_status .info { flex-grow: 1; padding: 0.1rem; padding-left: 0.4rem; }
#multiplayer_status .loader { flex-grow: 0; }

/* game styles */
#battleground { 
    position: absolute; top: 0; left: 0; right: 0; bottom: 0; 
    /* Some idiot Firefox 61.0.2 on Windows requires this as well */
    width: 100%; height: 100%;
}

#buttons {
    position: absolute; left: 0.3rem; right: 0.3rem; bottom: 0.3rem; display: flex; flex-wrap: wrap;
}
#buttons > div {
    margin: 3px;
    border: 1px solid;
}
#buttons button {
    min-width: 2rem; min-height: 2rem;
    margin: 0.2rem;
    border: 0px none;
    border-radius: 0.3rem;
    background: rgba(120,120,120,0.75);
}
#buttons button:hover {
    opacity: 0.9;
}
#buttons button:active {
    background: rgba(220,220,220,0.75);
    opacity: 0.7;
}
#buttons button.active {
    background: rgba(255, 225, 100, 0.8);
}
#buttons > div > button {
    min-width: 8rem;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  font-size: 0.1rem;
}
.loader {
  margin: 0.1rem auto;
  font-size: 0.1rem;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(215,26,26, 0.2);
  border-right: 1.1em solid rgba(215,26,26, 0.2);
  border-bottom: 1.1em solid rgba(215,26,26, 0.2);
  border-left: 1.1em solid #d71a1a;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
